<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
        
        <!-- Los iconos tipo Solid de Fontawesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    
        <title>Taskly | Sign Up</title>

        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <h1 class="titulo">Inicio de sesión</h1>
        <div class="_alertas">
            <div th:if="${param.error}" class="alert alert-danger" role="alert">Invalid username and password.</div>
            <div th:if="${param.logout}" class="alert alert-success" role="alert">You have been logged out.</div>
        </div>
        <div class="grant">
            <form th:action="@{/login}" method="post">
                <div class="_inputs">
                    <div class="form-group" id="user-group">
                        <input type="text" class ="form-control" placeholder="Nombre de usuario" name="username"/>
                    </div>
        
                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="Contrasena" name="password"/>
                    </div>
                </div>
                <div class="index_button">
                    <button type="submit" class="index_button_1">Ingresar</button>
                    <form th:action="@{/signin}" method="get">
                        <div class="_registro">
                            <button type="button" class="index_button_2" id="redirectsignin">Registro de usuarios </button>
                        </div>
                    </form>
                </div>
                
             </form>
    
            
    
            
        </div>
        
    </body>
    
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/js/service.js"></script>
    <script src="/js/index.js"></script>
</html>