<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/left.css">
    <link rel="stylesheet" href="/css/right.css">
    <link rel="stylesheet" href="/css/task_card.css">
    <link rel="stylesheet" href="/css/dragdrop.css">
    <title>Taskly</title>
</head>

<body>
    <span id="taskly__username" class="d-none" th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
    <!-- Add a Task -->
    <div id="taskly__task">+</div>

    <div id="taskly_new-task" class="d-none">
        <div>
            <h2>New Task</h2>
            <p>Add a new item to your list of tasks</p>
        </div>
        <div>
            <span>Name</span>
            <input type="text" id="taskly__form__name">
        </div>
        <div>
            <span>Description</span>
            <textarea type="date" id="taskly__form__description"></textarea>
        </div>
        <div>
            <span>Due Date</span>
            <input type="datetime-local" id="taskly__form__duedate">
        </div>
        <div>
            <button type="button" id="taskly__form__submit">Create Task</button>
        </div>
    </div>

    <!-- Left Side -->
    <div id="main_left">
        <!-- Navigation Bar -->
        <nav>
            <ul>
                <li id="nav_logo">Taskly</li>
                <li>
                    <div id="nav__username"></div>
                    <form id="nav__logout-form" th:action="@{/logout}" method="post">
                        <input type="submit" value="Log out"/>
                    </form>
                </li>
            </ul>
        </nav>


        <!-- Middle Section -->
        <div class="row">

            <div class="col-sm"></div>
            <div class="col-md-10">
                <div>
                    <span id="middle_title">My Tasks</span>
                </div>

                <div id="middle_date">
                    <span id="middle__date"></span>
                </div>

                <div id="middle_tasks"></div>


            </div>
            <div class="col-sm"></div>

        </div>





    </div>



    <!-- Right Side -->
    <div id="main_right">

        <div class="row">

            <div class="col-sm"></div>
            <div class="col-md-7">

                <div id="completed__tasks" class="dropzone">

                    <div id="completed__tasks-space" class="text-center vertical-align">
                        <div>
                            <span class="title">Completed Tasks</span>
                        </div>
                        <div>
                            <span class="subtitle">Drag and drop the tasks you've finished</span>
                        </div>
                    </div>




                </div>




            </div>
            <div class="col-sm"></div>

        </div>






    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <!-- <script src="https://kit.fontawesome.com/a4e5821cc7.js" crossorigin="anonymous"></script> -->
    <script src="/js/service.js"></script>
    <script src="/js/load.js"></script>
    <script src="/js/dragdrop.js"></script>
</body>

</html>